.App {
  height: 1098.4vh;
  width: 100%;
}
.Burger {
  box-sizing: border-box;
  width: 1.46vw;
  height: 1.78vh;
  position: absolute;
  left: 90.1vw;
  top: 9.84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.header-logo {
  position: absolute;
  width: 13.3vw;
  height: 19.95vh;
  left: 43.2vw;
  top: -2.3vh;
  background: url("https://s3-alpha-sig.figma.com/img/7e6e/7ac2/6694b1d2b05b683e9e4f2d2272b0e0e6?Expires=1627257600&Signature=dLM2MxNRsq4varQR3VRU2SrrUt1kUNuHXfG1MEW7W~pk3bb0NUA2ipkNQawiXkJjdVR2JrUeHcgssymXxm5H7nonom6chzuGGEaTz7eeQKUvY1988c7s9HAjq0yaN-VBZB-0mhzRIKxpEhZ238JXtTs6t4REtVNE7eoMcn3sGJTeyXetnTDq8lyazc9BkVppAzfjxm2eKhutyGiwAYXKPCvaN0H2s74J6aQkx5jRcTQe0Yf~Uc4vBWISRJGkLQRD34jxiqyipu1b7~5fSl1Zmw0PagGax7eKJu3H1ySL27nlolnU5iKZxPfD4qZvYPl6umdB1yx5fno8T~OQ8gmZnQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mediaHome {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 81.9vh;
  left: 93.2vw;
  justify-content: space-between;
}
.mediaAbout {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 145.7vh;
  left: 93.2vw;
  justify-content: space-between;
}
.mediaRoom {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 385.7vh;
  left: 93.2vw;
  justify-content: space-between;
  z-index: 1;
}
.mediaBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 477.7vh;
  left: 93.2vw;
  justify-content: space-between;
}
.mediaPool {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 595.7vh;
  left: 93.2vw;
  justify-content: space-between;
}
.mediaGallery {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 728.5vh;
  left: 93.2vw;
  justify-content: space-between;
}
.mediaNews {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 838.93vh;
  left: 93.2vw;
  justify-content: space-between;
}
.mediaContact {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 17.04vh;
  width: 1.97vw;
  top: 1000.3vh;
  left: 93.2vw;
  justify-content: space-between;
}

#Booking {
  height: 14.9vh;
  width: 100%;
  background-color: #ffff;
  position: absolute;
  top: 132.16vh;
  backdrop-filter: blur(34px);
  display: flex;
  align-items: center;
}

.welcome {
  position: absolute;
  width: 9.77vw;
  height: 4.21vh;
  left: 45.1vw;
  top: 37.36vh;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.35vw;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.konyak {
  position: absolute;
  width: 38.88vw;
  height: 29.9vh;
  top: 43.3vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8vw;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.arrival {
  width: 18.83vw;
  height: 12.98vh;
  margin-left: 8.43vw;
  margin-top: 2.38vh;
}

.departure {
  width: 18.83vw;
  height: 12.98vh;
  margin-left: 1.49vw;
  margin-top: 2.38vh;
}

.h6-text {
  margin: 0;
  height: 3.1vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.73vw;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6f4f28;
}
.adults {
  width: 6.29vw;
  height: 12.98vh;
  margin-left: 1.49vw;
  margin-top: 2.38vh;
}

.children {
  width: 6.29vw;
  height: 12.98vh;
  margin-left: 1.49vw;
  margin-top: 2.38vh;
}

.prmotional-code {
  width: 10.47vw;
  height: 12.98vh;
  margin-left: 1.49vw;
  margin-top: 2.38vh;
}

.btn {
  width: 14.94vw;
  height: 5.4vh;
  background: #6f4f28;
  mix-blend-mode: normal;
  margin-top: 5.2vh;
  border: 0.5px solid #6f4f28;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: "0.83vw";
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 1.49vw;
}

.about {
  position: absolute;
  width: 42.6vw;
  height: 622.896px;
  left: 8.46vw;
  top: 164.71vh;
  background: rgba(255, 251, 248, 0.77);
  backdrop-filter: blur(34px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.about-title {
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2, 92vw;
  line-height: 9.43vh;
  text-transform: uppercase;
  color: #201b13;
  text-align: center;
}
.line {
  width: 4.1vw;
  height: 0.14vh;
  background-color: #6f4f28;
}
.about-text {
  width: 32.6vw;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 1.14vw;
  line-height: 150%;
  text-align: center;
  color: #201b13;
  text-justify: center;
}

.about-img1 {
  position: absolute;
  width: 35.9vw;
  height: 108.5vh;
  left: 46.7vw;
  top: 157.86vh;
  background: url("https://s3-alpha-sig.figma.com/img/939e/a2a1/81a40aa838acab99b8be160e900c44ee?Expires=1626652800&Signature=deDgbd4rFJ9V55iA3ApEPIdXkQr5E1iOo1kXiJXT5SeOy9c0fRPJCRF8aitKMaX-p~ETvMURCFJD7yH6N6Ikk8mqcxKFJjzSCtmB1lyCOFEnPhTecJOha~nQrDYCsXqYr8HlnZelPZ1vLuBnX10DdWjBGwsDD9~CWIRApV4-Y9E~tCj08eGGtT3ZdXe9ROlGCo5PajiDH0VsP555wZ45BbtTOrVkZYgA4M8YoIR1n2vfARX3cc8pyQ70xSbcvYCbslfF7BTEz~NAALqz3nV-dbC8tAzIwP3U1mvp3DDb3Um-~sLaKrtzbHsbGEGDXiSfafvfhFYdSy7SBKoGbSMXhg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.about-img2 {
  position: absolute;
  width: 20.58vw;
  height: 42.2vh;
  left: 71vw;
  top: 229.66vh;
  background: url("https://s3-alpha-sig.figma.com/img/9e47/6792/2764841f56435980785b22224f0414be?Expires=1626652800&Signature=QKmLpTPuyVDPYAapOwL4t7g9qFupD22Sa1VT~wMTGzAdVfUa13XW39456jHTOUl3CFL9wkW4mJFnVrJkXTjjMfzZUMb0hOttbwOwmix~DIntuh5N4YXAP-IDeGgg8J9l55P76tFaR2eGgi99NHcjXXJMONKiFuJbq9MKfYG05Hi-CR5IXBWo7YIwGm6Cxd9r-9rvnO67YT9h7YCAhSXFquClDCojtQ8bqNKofXO51ei~PZmsVPRthcTpnFlnP8fSrT1~V0D6jyq30GVjQgL8m~Tfa7F1zwSW9WFJeMoADt0MoCPsHeTGAkNnSdG1vFAolUQHOMECp3iIY6HktvCW6w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  border-radius: 0px 0px 350px 350px;
  background-size: cover;
  background-position: center;
}

.rooms {
  position: absolute;
  width: 42.6vw;
  height: 88.23vh;
  left: 8.46vw;
  top: 292.56vh;
  background: rgba(255, 251, 248, 0.77);
  backdrop-filter: blur(34px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.rooms-title {
  height: 9.04vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8vw;
  line-height: 9.04vh;
  text-transform: uppercase;
  color: #201b13;
}
.rooms-text {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #201b13;
  width: 32.6vw;
  height: 11.53vh;
}
.h3 {
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.79vw;
  line-height: 3.82vh;
  color: #201b13;
  cursor: pointer;
  display: flex;
  margin-left: 1.9vw;
}
.h3:hover {
  color: #6f4f28;
}

.h3-arrow {
  position: absolute;
  transform: rotate(180deg);
  color: #6f4f28;
  cursor: pointer;
  font-size: 1.79vw;
  display: none;
}

.rooms-img {
  position: absolute;
  width: 61.5vw;
  height: 73.39vh;
  left: 36.8vw;
  top: 330.53vh;
  background: url("https://s3-alpha-sig.figma.com/img/3e3a/bc95/9cc3922f1d2a66df98775f35ad85ba83?Expires=1626652800&Signature=TGLGId7kQWNscv84gD4KwkTZf0UTNaGJf4BOqIMLahzwv3LB2UJJWh2sXvl9XIaDGlE7d62s6ztwkUlWLKzWRym5uiJxp3p5OAuRHrynXzlAeMv00hJtZpBI-macGyv2u8N~NEkfIlKDB~nw9l8rcWGShEpFbPOkMWBtz9pjonvH7uCN2pUOwTFNCKui9J8szTGXz4lwuBjo6Tx-3oxky-ppqwOpVobITDmM9vOxnAyrj7LYo~jDN6ou~hi6i~1GnWZuKgN2eDVxO85OWkjzoHghFfADJuxs9BNI0~RFP5UZk5UP-vzq-QPExZlgWMcbxdE40d9ZO~S1C-JaTin7ow__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.barWelcome {
  position: absolute;
  width: 15.2vw;
  height: 9.3vh;
  left: 8.3vw;
  top: 419.3vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2.9vvw;
  line-height: 9.35vh;
  color: #201b13;
}
.barTitle {
  position: absolute;
  width: 34vw;
  height: 9.3vh;
  left: 8.3vw;
  top: 428.7vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2.9vvw;
  line-height: 9.35vh;
  text-transform: uppercase;
  color: #201b13;
}
.barLine-title {
  position: absolute;
  width: 4.1vw;
  height: 1.5px;
  left: 8.3vw;
  top: 441.1vh;
  background: #6f4f28;
}
.barImg1 {
  width: 28.4vw;
  height: 64.2vh;
  background: url("https://s3-alpha-sig.figma.com/img/f3b4/da8c/7aba0ef09af7b27452c4b220a34f4374?Expires=1626652800&Signature=HQ6wC52gnitpHrwRR~3OEmssYW3v9oEJe0g4QB6kOAyNRYjr4UWPbjfB5Z9BmTtQRkC5230wTpsm5~HEkg4DH3RRJDJA~uoSZ5~7qvE1eBGh3xczY3rFPq3YBgzwjv9lRBAqqvLnQ949CbPk~JmNioL5cCzEmH3OPvP3gUE8bbyPPG36tIy0t44mufkNEjUpNPfP-5K6Sux7FxrWEiFvS4OdyhKxemC-tHVo2rcZ8XvEA2oGBwuJ1tO1Aq3q-5V1Cn05eYIedlWa2AWNhrYYXZyxAnjpGdqv6IXxohKPxeiPmKYzwvsMmbUR51L7e2jJyrlKfJWW1~LFqsrBVHV20Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
}
.barImg2 {
  width: 28.4vw;
  height: 64.2vh;
  margin-left: 1.4vw;
  background: url("https://s3-alpha-sig.figma.com/img/a051/663d/61adf294fa2674816f03e54ddaae6afe?Expires=1626652800&Signature=Knejzf4oDaxVRV07iQ7KK23ASqX1-~EJFMrVx4AjqdU6OZqQN92vN4ZSBmXNkcvPXY0XyP8TwT9LEKim8jkVlMwUC5mSQKuMebG7tLO60CM2znl-CzFODLri1mXL7UTVvFW6CPxAT3RiLA0XWDuoNTRzSHxWYFi5N8Ye2MeI0EIeCpIxdaqnCna~hoKc11-dzAhOWuej6DaI-AYiP5cUlxyLaNzjdXeSbH5hC5iHFixIW~ZzLzD2~UnAWZ3a~4Q9DwQjGhFQUHP02l0zhleax85FJrSNQ7~gXQlDKpT7rDMDI~amYO9qe66~~QWV0IYcGaBOs4tmyT4fKDUpXDmGDA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.barImg3 {
  width: 28.4vw;
  height: 64.2vh;
  margin-left: 1.4vw;
  background: url("https://s3-alpha-sig.figma.com/img/8392/72b3/d6a618873fddf1a50a6e468d08d34514?Expires=1626652800&Signature=fKNLMzbTxzO~jw3osNyDPsVCK-L2EAP8TGLroggpHTtfAOX1yHlEBPt2W-~JooljyI04aiCVF2JfrFZaGDLrdLWpXlPQxyqQVpm3hyUzrMm7yFOV3HDEy0JOv29E5vShcXz~upMQZj6KMnhC8YOyYjfYskgiOKwdl05J1EMW9ya5EBz7r52DPXdP~WHC9uPDuKVfbETEaEhq8Go9TclGf6sYaV8idgT83iXxPFK0g7r5oPSZh6a0fnJSQfFBKnomGFKXVuLdTOAqhSeFyQC3LUnf7kqAML8HeApC2mIovqMCxCD7Uv2BH7bC1iqbta37Ip4plv9GEUSMirU4SDwyPw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.barImg4 {
  width: 28.4vw;
  height: 64.2vh;
  margin-left: 1.4vw;
  background: url("https://s3-alpha-sig.figma.com/img/8392/72b3/d6a618873fddf1a50a6e468d08d34514?Expires=1626652800&Signature=fKNLMzbTxzO~jw3osNyDPsVCK-L2EAP8TGLroggpHTtfAOX1yHlEBPt2W-~JooljyI04aiCVF2JfrFZaGDLrdLWpXlPQxyqQVpm3hyUzrMm7yFOV3HDEy0JOv29E5vShcXz~upMQZj6KMnhC8YOyYjfYskgiOKwdl05J1EMW9ya5EBz7r52DPXdP~WHC9uPDuKVfbETEaEhq8Go9TclGf6sYaV8idgT83iXxPFK0g7r5oPSZh6a0fnJSQfFBKnomGFKXVuLdTOAqhSeFyQC3LUnf7kqAML8HeApC2mIovqMCxCD7Uv2BH7bC1iqbta37Ip4plv9GEUSMirU4SDwyPw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.arrowLeft {
  position: absolute;
  width: 1.8vw;
  height: 0px;
  left: 8.46vw;
  top: 519.8vh;
  color: #6f4f28;
  cursor: pointer;
}
.arrowRight {
  position: absolute;
  width: 1.8vw;
  height: 0px;
  left: 12.4vw;
  top: 519.8vh;
  transform: rotate(180deg);
  color: #6f4f28;
  cursor: pointer;
}
.barLine {
  position: absolute;
  width: 75.5vw;
  height: 1px;
  left: 16.3vw;
  top: 521.8vh;
  background: #6f4f28;
  opacity: 0.2;
}
.page1 {
  position: absolute;
  width: 5px;
  height: 27px;
  left: 89.6vw;
  top: 517.7vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
}
.slash {
  position: absolute;
  width: 6px;
  height: 2.9vh;
  left: 90.3vw;
  top: 517.9vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
}
.lastPage {
  position: absolute;
  width: 13px;
  height: 27px;
  left: 90.6vw;
  top: 518.5vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
  opacity: 0.2;
}
.small-line {
  position: absolute;
  width: 3.2vw;
  height: 0px;
  left: 16.3vw;
  top: 521.6vh;
  border: 1.5px solid #6f4f28;
  background-color: #6f4f28;
}
.pool {
  position: absolute;
  width: 42.6vw;
  height: 60.9vh;
  left: 8.4vw;
  top: 543.6vh;
  background: rgba(255, 251, 248, 0.77);
  backdrop-filter: blur(34px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.pool-title {
  height: 17vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 8vh;
  text-transform: uppercase;
  color: #201b13;
  text-align: center;
}
.pool-line {
  width: 4.1vw;
  height: 0.22vh;
  background: #6f4f28;
}
.pool-text {
  width: 32vw;
  height: 11vh;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 150%;
  text-align: center;
  color: #201b13;
}
.pool-button {
  margin-top: 6vh;
  width: 15vw;
  height: 5vh;
  mix-blend-mode: normal;
  border: 0.5px solid #6f4f28;
  font-family: Inter;
  font-size: 1vw;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #6f4f28;
  letter-spacing: 5%;
}
.poolImg1 {
  position: absolute;
  width: 44.8vw;
  height: 70.2vh;
  left: 46.6vw;
  top: 567.7vh;
  background: url("https://s3-alpha-sig.figma.com/img/375e/d5cd/262bcdbdab107ce114e4432e24f7323a?Expires=1627257600&Signature=AutEHPdBvvBcNu5EglWNzeUwCxHVdGYNjrMVG6KNrPtYy38rw-XMcvoY~9A0l8Tqd3lF70rpxf6cKJvndiuESvOIvH0MlClp8JthLCsKjeB83XeSCDBT3QxlsbThspkgc2JbajWjVUyrmcspgLRqEbL5Ag4EGDmFxqyGbB8PisDa2XODlJHhgXU~atXXG~JWHZSMRWhXH2wBDwXGeOom4BORZZFmOV7D3qJghNxNvrQohc1xhmJDUvLEjUhb3o3CRJl9TXp3H41wRe9kxD2TvkcDBAKXdyPN9buWqlZRW883pU7M6QkIOHsx6iNSF4OjSPU5qHR68SC5-YqRzkIdcA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}
.poolImg2 {
  position: absolute;
  width: 22.08vw;
  height: 46.36vh;
  left: 35.84vw;
  top: 604.6vh;
  background: url("https://s3-alpha-sig.figma.com/img/e5fa/f376/f0e9afdace3df76133eb3d458305d7d1?Expires=1627257600&Signature=ccVDA6xcDefCDjwxnYmLdV6G-~5fWhPiAubwbHrop6t8brrQ3z0P0q3iKeokLeGKG8VxCs6Cj2vpcQ3go9GSfdB26wbVm-Dgmm8AP8F0f0vgZQAjJmNPhZ2IK5Agb1h~q2-1oqc-mKv3M9Lx-yCmlG-LeFPymBeGn3T2~L3PUQO-sW97raMTJu61Pkjpr7QndA5itkdzqQWY1JXiEezcqkz56SeB7FC2hHkeP~Sq0M04lQJOqBbEYgo0xYTD3aJ~7xGI1Z1-1Upx0rjji8URMQjdpQYg92c1WuGxv7Accp6eO03JLkwQdAvw3R1X~DNK4VYZ6PzQ2cuKNFScu5q7Tg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  border-radius: 0px 0px 350px 350px;
  background-position: center;
  background-size: cover;
}
.gallery {
  position: absolute;
  width: 100%;
  height: 112.35vh;
  top: 672.9vh;
  overflow: hidden;
}
.gallery-slide {
  height: 86.4vh;
  width: 121.8vw;
  margin-top: 5.4vh;
}
.gallery-title {
  width: 24.4vw;
  height: 9.3vh;
  margin-left: 8.3vw;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2.9vw;
  line-height: 9.3vh;
  text-transform: uppercase;
  color: #201b13;
}
.gallery-line {
  background-color: #6f4f28;
  margin-left: 8.3vw;
  width: 4.1vw;
  height: 1.5px;
  margin-top: 2.9vh;
}
.pages {
  position: absolute;
  top: 785.7vh;
  display: flex;
  justify-content: space-between;
  width: 9.3vw;
  height: 3.5vh;
  margin-left: 45.8vw;
}
.gal-arrow-left {
  width: 1.8vw;
  height: 0px;
  color: #6f4f28;
  cursor: pointer;
}
.gal-arrow-right {
  width: 1.8vw;
  height: 0px;
  color: #6f4f28;
  cursor: pointer;
  transform: rotate(180deg);
}
.current-page {
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
}
.gal-page-slash {
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
}
.last-page {
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
  opacity: 0.2;
}
.gallery1 {
  position: absolute;
  width: 20.8vw;
  height: 54.1vh;
  top: 26.4vh;
  left: -10.4vw;
  background-image: url("https://s3-alpha-sig.figma.com/img/f70a/d9c8/5e4f1558a3881bae83977afe3c78ce5b?Expires=1627257600&Signature=PSK~vbNNVWKRI9xvswPHAQ2qCZ6a9cdU03edn41nKJuivPlLIG8WqMNuU9-6pRasQ7BTuOO55E0o8joYsXDttVbTvoqlQ9rUYsObw~7bLMtEmvLuJq2amFhc1rWGitA3~tp5ozmhzLWvTdMA4RjAkjmqFIOCO3OAFuHjzMFFZNXbiCceBj9PGMxnCGMgTzuDyypkJG8Yv7kj~9LjCuCYY4Wl2SQDKugLYhTKvyZjDkKKHJsN8TlnLWP8QZfjmzYMOTjs1ZgnPk53qrNnb7ZlNjn9QA-sd2Akzk1uxPd8Ql2QJQaWkjkhqwaBVVhrZXX4jBMeP20esMR2jBTKlxOaeA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery2 {
  position: absolute;
  width: 20.8vw;
  height: 54.1vh;
  top: 43vh;
  left: 11.9vw;
  background-image: url("https://s3-alpha-sig.figma.com/img/f148/1685/fbf4ea1e128612c49cf79ca7d5d52692?Expires=1627257600&Signature=eq8EJ69nCTdJzcTTpT~OiddEz6CEVxocNij--kQlP8li9VARot83YILeXotWIbL7eDeUdTCvp7tzf3gvL2IR4tAjbJSZQ5dT9ajIZMYCs5HRGZJFaXwsAQaz0A9xURbvzUd~Io5jKSOrnSRAH9UgfwJRmycERs219PctGSin1ht2s4DxcSUTV1RT8HKmFYBNnOTS~ooYClgIwAySFUceUAwht9n5QgveqLXq-z3WBXrz4rkh3ZbiQKIwgLTRXhEBplneajzvdoa-uBRDgiZjsZnvLmpIFRWFJ45-GzXQYH2AHoQdDqNQUhWfLIDOhJy~bmzJhZCxn0GQKR-dAL4DNg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery3 {
  position: absolute;
  width: 31.25vw;
  height: 86.4vh;
  top: 23vh;
  left: 34.2vw;
  background-image: url("https://s3-alpha-sig.figma.com/img/c750/d943/53978cae45b061585b2e53e00cc4255a?Expires=1627257600&Signature=C3A1FtnQN2UXBIW6UCRjeh-cCY3F5UuJWeANVCr1NHJlu8efQy1M6t6qigIyOIVV6WP-y~Utfa98o6r3IamSKYxJh84NXve2EKWtES2uWXgvweqwqvlTN7DEAEy6pLCGd-Ay3Zh93fByGnh69HC7SYf7TnLWoA1~75lvoJ5i2zLeOvJ0~yblOpX3yR6eSTLw4LZdvC6CvkE6CcJVBRaruuVmjzUYqFMalCPiqr965kgGZNy-pZP-HtUuB-0aQV2fAGGHX~N4FpYfqSIlhqK~MEY~ZUsh~vi2FVLSXdt335tBLsSmx6qwqkpNrL7LLibBm0NhmybSEaLpGD3MLjBs4w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery4 {
  position: absolute;
  width: 22vw;
  height: 46.3vh;
  top: 33.8vh;
  left: 66.9vw;
  border-radius: 0px 0px 350px 350px;
  background-image: url("https://s3-alpha-sig.figma.com/img/06a1/12cc/c1a0d5034e44af33262ca3d6bdc57386?Expires=1627257600&Signature=HE9KS8za-GVDOFqhy~SM60AxkpGMePyvrvbGDcmsA-7BNTRFWJDPEun8D36sdSbmksjDgIfuMz0CO5T6rQdeIkIafPwsjs8fysH64W~4kJZgR4E7lF9hM0TRz0v0b4hmMk8QJubhe~f7ZPrMCa2IwscuiFXdCq6vrTrY9YdyPjYjEwOSYK~01HjstI4o7nAhXWDJurfCQ9pDrvjxIiY4VLMc87A9Zghb6SkftL-6D6Zz8qbfCoyMiAAQsgL5cMCkHrlJS1uZL-5prvvqy7BlHDX5SI3e4nBnhLIngJYZS3HQXgRDkMvawHR7hQFQSQSyjrn7dNVP2v7c2GxgSIUSgQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery5 {
  position: absolute;
  width: 20.8vw;
  height: 66.5vh;
  top: 43vh;
  left: 90.5vw;
  background-image: url("https://s3-alpha-sig.figma.com/img/9e47/6792/2764841f56435980785b22224f0414be?Expires=1627257600&Signature=edl7bkpsR08tEPq2Leoa4WKMs~NYtHEDq6A8O6-7HVtBhwHkfQRG-7DFpijT-ulrZBtLwQF8P2nD5vF3jZT7qe9slRiViwauNdj5aIQMsepaO-WBP62uKV-y96y0Co1rxO2mTdnGCd5Es6bYodUB18F7YmcTR-2~1RiFokcvICYI-CWqFvB~EpNK0UZhRurr7QSABssWJZYxSmEDCJWddFcwlx8QVt6qMQ2d-C469NWXCQ28TJsl2PJqwQz0sN~jrEgpxTazreNUqNL9muNTpObqQa7pmM6eD9twQJA8sYZ7Xe1GA-8ECwZ9mJfSX4B-6XBCkV4yntnUoTq3W8M4dA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news-title {
  position: absolute;
  width: 20.7vw;
  height: 9.34vh;
  left: 8.4vw;
  top: 807vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2.9vw;
  line-height: 9.34vh;
  text-align: center;
  text-transform: uppercase;
  color: #201b13;
}

.news-line {
  position: absolute;
  background-color: #6f4f28;
  left: 8.4vw;
  width: 4.1vw;
  height: 1.5px;
  top: 821.35vh;
}
.news1 {
  position: absolute;
  width: 19.6vw;
  height: 54.68vh;
  left: 8.4vw;
  top: 824.9vh;
  background: url("https://s3-alpha-sig.figma.com/img/5766/15db/03545a49764518dce8e0075edabfdfd2?Expires=1627257600&Signature=EK-HIfxn7eDaEm9dQdY1sIGICQlBZMpdEo6fukqzVb123O3Enu94vyIxMikIkYP6VbzM32LwgJH3zpZo9eD8AKFg7d2KMCfMeuzJizrFFKxdArETabnV9ArnN8Kk2dE-F7Lu0pSUSmRZdEO2pfAAt4kHFvTgRtU-iHbG1Iq4jEUl-0XSXps4JfUPtnnRH2SVPwfJhusBFyI1bRRd8Urc~Nlcj0724kIbEy8zB-ejxgRbIlaglhw-~hYE2bhkiWi6NGOWQMcmwCjgAdSfMLms3ndx0viWw7Fty2G4YVYTTxPRpRrFEVbI7pEOO2QzZPXg7Ean~YB~BgpYOTH3PbSnWQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news2 {
  position: absolute;
  width: 19.6vw;
  height: 30.8vh;
  left: 29.5vw;
  top: 824.9vh;
  background: url("https://s3-alpha-sig.figma.com/img/b573/6e00/5688216862575d9dc84c3c9e931b93fe?Expires=1627257600&Signature=NINcw~Ar-iZWbrL8yuLHM0OQ0Y6Q6VDqVqs8xCrDF9xckTLJxs5op7C1MW~fypjhlkFpVAvKvYZIxuwRFjCbyV0a9V9A1y5Z8QOL8F0GlfXZnzx75N2Jsc3rjXht6Yuhda2FOwhs1RtrUZg2W0ehgA4tz9oXpeCDVEdKh5oblQp2tmd8RYn4sCMNzfLFnbIXghXwHyOmJEkFzzJ6CazqxlTLpB-bXFlfcbNkdfoKNAUVjnoKkHs~Nd0MlXtKXqc7QiqQzQTt554LYgWi51coZft0sVJrWkypBBXs0i~VZibScrIYg9FnvlA40Zl-spT7eb20huo-c-EZ1pxu7nefTw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news3 {
  position: absolute;
  width: 19.6vw;
  height: 54.6vh;
  left: 50.6vw;
  top: 824.9vh;
  background: url("https://s3-alpha-sig.figma.com/img/d027/2137/cf96258ddec578175bc49d64713a84a2?Expires=1627257600&Signature=OVgN1lpp5PrVpdSAXXj~99EBujvX4tM9x-9ZjMAYsiLYfrvFQEJz0PCrH8yRWWxYcTbCSbLYOrQ5oSdg8JKf-jh-U4iFztppqsJHSx~gu9mNaK4cT5shtB6FKHqYLybqzOuNUaGg5Yhf5anU0-rVjgeI~paHP6XAhM3huhciwUb41H5GHK5opvDBSmp6Aq8iSHTPh~X6iBr1rrFoO9fOY~bWGnHovucBlVfLGeZfjYYSBJxSm9Bhv6lLHsHObswpDvhJZTfBWKZCVMAWl-VYHJ5o7IE6NCgGN3kZF8plsraPI-JNcgKV~Vb8TJAav79aACj5-9O1OO-W3H0zFJDi8Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news4 {
  position: absolute;
  width: 19.6vw;
  height: 39.08vh;
  left: 71.7vw;
  top: 824.9vh;
  background: url("https://s3-alpha-sig.figma.com/img/2ea1/cf14/baf2e83cd7dfd4a8b68be3f022601a3f?Expires=1627257600&Signature=Ilfbs~SxoJfE~JPeJ1R0dI1WQQ6N11ayLpFW~~jPRW1NFScT5X9vvKT5jjWNAJeRqVez-efYWFh43yyqRTisZaySpQHwsCZTM6E~boq5hhGX2Wop8vE9sWgtTx9ek2NTHz4Vg1ePGd222PtLN3T0MdAvZJULIzONBnd9~mM8sp0OOfc32iz-xegEYjNTsitUPygd9KjlsuOBKXNFSZ-KYVfd6VmsmfTVTZ6FI~WZes8oGK0uOs4GvS9f0FQWeagfgrI~v-DlB2VoOuZp6H-ZN1Xd8zzJbokmWK3lRwabY4LsiyIaBSKWO7ux~AF28SBdADE1NAupEPCs0QRMaj7pBQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news1-date {
  position: absolute;
  width: 5.05vw;
  height: 2.91vh;
  left: 8.4vw;
  top: 881.76vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 170%;
  text-transform: uppercase;
  color: #201b13;
  opacity: 0.5;
}
.news2-date {
  position: absolute;
  width: 5.05vw;
  height: 2.91vh;
  left: 8.4vw;
  top: 881.76vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 170%;
  text-transform: uppercase;
  color: #201b13;
  opacity: 0.5;
}
.news1-date {
  position: absolute;
  width: 5.05vw;
  height: 2.91vh;
  left: 8.4vw;
  top: 881.76vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 170%;
  text-transform: uppercase;
  color: #201b13;
  opacity: 0.5;
}
.news2-date {
  position: absolute;
  width: 5.05vw;
  height: 2.91vh;
  left: 29.5vw;
  top: 857.8vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 170%;
  text-transform: uppercase;
  color: #201b13;
  opacity: 0.5;
}
.news3-date {
  position: absolute;
  width: 5.05vw;
  height: 2.91vh;
  left: 50.6vw;
  top: 881.7vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 170%;
  text-transform: uppercase;
  color: #201b13;
  opacity: 0.5;
}
.news4-date {
  position: absolute;
  width: 5.05vw;
  height: 2.91vh;
  left: 71.7vw;
  top: 866.1vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 170%;
  text-transform: uppercase;
  color: #201b13;
  opacity: 0.5;
}
.news1-title {
  position: absolute;
  width: 19.6vw;
  height: 3.95vh;
  top: 886.7vh;
  left: 8.4vw;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 3.9vh;
  color: #201b13;
}
.news2-title {
  position: absolute;
  width: 19.6vw;
  height: 3.95vh;
  top: 862.8vh;
  left: 29.5vw;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 3.9vh;
  color: #201b13;
}
.news3-title {
  position: absolute;
  width: 19.6vw;
  height: 7.9vh;
  top: 886.7vh;
  left: 50.6vw;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 3.9vh;
  color: #201b13;
}
.news4-title {
  position: absolute;
  width: 19.6vw;
  height: 7.9vh;
  top: 871.3vh;
  left: 71.7vw;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 3.9vh;
  color: #201b13;
}
.readMore1 {
  position: absolute;
  width: 4.2vw;
  height: 2.9vh;
  left: 8.4vw;
  top: 892.9vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
  cursor: pointer;
}
.arrow1 {
  position: absolute;
  width: 2.6vw;
  height: 0px;
  left: 13.1vw;
  top: 892.9vh;
  color: #6f4f28;
  transform: rotate(180deg);
  cursor: pointer;
}
.readMore2 {
  position: absolute;
  width: 4.2vw;
  height: 2.9vh;
  left: 29.5vw;
  top: 869vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
  cursor: pointer;
}
.arrow2 {
  position: absolute;
  width: 2.6vw;
  height: 0px;
  left: 34.2vw;
  top: 869vh;
  color: #6f4f28;
  transform: rotate(180deg);
  cursor: pointer;
}
.readMore3 {
  position: absolute;
  width: 4.2vw;
  height: 2.9vh;
  left: 50.6vw;
  top: 896.9vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
  cursor: pointer;
}
.arrow3 {
  position: absolute;
  width: 2.6vw;
  height: 0px;
  left: 55.3vw;
  top: 896.9vh;
  color: #6f4f28;
  transform: rotate(180deg);
  cursor: pointer;
}
.readMore4 {
  position: absolute;
  width: 4.2vw;
  height: 2.9vh;
  left: 71.7vw;
  top: 881.5vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 170%;
  color: #6f4f28;
  cursor: pointer;
}
.arrow4 {
  position: absolute;
  width: 2.6vw;
  height: 0px;
  left: 76.5vw;
  top: 881.5vh;
  color: #6f4f28;
  transform: rotate(180deg);
  cursor: pointer;
}
.contact {
  position: absolute;
  width: 83vw;
  height: 87.11vh;
  left: 8.4vw;
  top: 921.4vh;
}
.contact-img {
  position: absolute;
  width: 46.8vw;
  height: 77.9vh;
  top: 9.1vh;
  background: url("https://s3-alpha-sig.figma.com/img/d2a4/d388/7d847194424ad6200a00d6c201a61c44?Expires=1627257600&Signature=NHbrqk7ZP1RXqoW1nqQ68hh0H3JeucvBPpbaBC0N-Y-OmNofWAmaJ4kal268dovvxM0Agmk9Ofn1meHtXNTPAZeeiqyjFNEYtIU3C0I~y~mnlw3rPexEDOiQPW5aSH1Zttmxs4yiKbD-WmCH1MERMA1BOengK8wSxyhCC94szX1jbOTxPa7Xlv9aU~KvyhAJBobquO3~7EPM3cuAOJg078Ak5rAF61W3EM3wQpoSAvOe9vo-vnvmHwGY3pXmA6ItochCrg1dP~-Ay5IEbKm836LtLB6jRK3EaGhBRAoXeYcqJG7DBKd29oWekWCd97M22FCf8D-oRpdUP-SVlzMYhg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.contact-box {
  position: absolute;
  width: 42.6vw;
  height: 59vh;
  left: 40.4vw;
  text-align: center;
  background: rgba(255, 251, 248, 0.77);
  backdrop-filter: blur(34px);
}
.contact-box-text {
  width: 24vw;
  height: 36.3vh;
  margin: 4.3vh auto 6.4vh;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 2.9vw;
  line-height: 150%;
  text-transform: uppercase;
  color: #201b13;
}
.contact-box-btn {
  width: 14.8vw;
  height: 5.4vh;
  margin: auto;
  top: 8946.89px;
  background: #6f4f28;
  border: 1.5px solid #6f4f28;
  cursor: pointer;
}
.contact-btn-span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  position: absolute;
  width: 100vw;
  height: 64.6vh;
  top: 1030.4vh;
  box-sizing: border-box;
  border-top: 1px solid #6f4f28;
}
.footer-group1 {
  position: absolute;
  width: 8.54vw;
  height: 24.7vh;
  left: 8.3vw;
  top: 9.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-room {
  margin: 0;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  color: #201b13;
  opacity: 0.6;
  cursor: pointer;
}
.footer-room:hover {
  color: #201b13;
  opacity: 1;
}
.footer-group2 {
  position: absolute;
  width: 4.8vw;
  height: 23.7vh;
  left: 30.3vw;
  top: 9.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-page {
  margin: 0;
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  color: #201b13;
  opacity: 0.6;
  cursor: pointer;
}
.footer-page:hover {
  color: #201b13;
  opacity: 1;
}
.footer-logo {
  position: absolute;
  width: 21.9vw;
  height: 32.4vh;
  left: 38.9vw;
  top: 2.1vh;
  background-image: url("https://s3-alpha-sig.figma.com/img/7e6e/7ac2/6694b1d2b05b683e9e4f2d2272b0e0e6?Expires=1627257600&Signature=dLM2MxNRsq4varQR3VRU2SrrUt1kUNuHXfG1MEW7W~pk3bb0NUA2ipkNQawiXkJjdVR2JrUeHcgssymXxm5H7nonom6chzuGGEaTz7eeQKUvY1988c7s9HAjq0yaN-VBZB-0mhzRIKxpEhZ238JXtTs6t4REtVNE7eoMcn3sGJTeyXetnTDq8lyazc9BkVppAzfjxm2eKhutyGiwAYXKPCvaN0H2s74J6aQkx5jRcTQe0Yf~Uc4vBWISRJGkLQRD34jxiqyipu1b7~5fSl1Zmw0PagGax7eKJu3H1ySL27nlolnU5iKZxPfD4qZvYPl6umdB1yx5fno8T~OQ8gmZnQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo-title {
  font-family: Ogg;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 3.94vh;
  text-transform: uppercase;
  color: #201b13;
}
.footer-address {
  position: absolute;
  width: 13.2vw;
  height: 10.9vh;
  left: 64.6vw;
  top: 9.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.address-info {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vw;
  line-height: 2.2vh;
  color: #201b13;
  text-decoration: none;
}
.copyright {
  position: absolute;
  width: 14.3vw;
  height: 1.6vh;
  left: 8.3vw;
  top: 59.8vh;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7vw;
  line-height: 1.6vh;
  color: #201b13;
}
.tripadviser-logo {
  position: absolute;
  width: 9.4vw;
  height: 14.7vh;
  left: 45.1vw;
  top: 49.6vh;
  background: url("https://s3-alpha-sig.figma.com/img/2b4c/b354/2c0a4274505bc405899ea14c32c7da0b?Expires=1627257600&Signature=NANC59gSngtYmENktmmY-ocWs-D4Vl7cjN-j9614si06fubygpdeGFUyltWnqdQPAMcPI8dHN3cearZBbb~e8aatusUuHHjnSSGnOA-qcMY7J8kxknbipd-8gC5It4PMcGQPA4pR-71anhAR76fjbsCUpnz-icjDVJZMZcD~stLYM7600yqg1E2nE4q-a7W8HeUD7LavXiBmRfzSog-Qar9mHtTTbR4Szbxp~eB5eunNwDSJnGysYdq7ED~UVJ4eBal0oR59hY-fpBssCXedgD4vUUhYmk2VtVf6g1eNw9wyf-qKxrou0YFI1cDtJ8Z~vCLwdqIBxcfzNV9~icBMeg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.credit-cards {
  position: absolute;
  width: 8.3vw;
  height: 3.1vh;
  left: 64.6vw;
  top: 59.2vh;
  background-color: blueviolet;
  background: url("https://s3-alpha-sig.figma.com/img/7735/b5bc/e09efc8ed9acc543bf0dae60b92d2b6f?Expires=1627257600&Signature=SVVCumAqWecTdNlHp9jj1cPjePVWJPyxh28071kfoIlxkAm5UfJegvVYz51QzM5f979L3WArBfRY~gbuZDf9M0V0W3pLK03lk9nuhinN8A4SxCWV3ggw4aST6FZLcklMBZ00xshMx0v~KrJEQzRyV6F-Nr0dQ62sKCSNBpDuhWfizI2TItAlOawW8sFXTcDXlCyrGwKO02cDLEdXSVBvadoerj3EmecXVFlBP3KI9W~ebbwxD9qYAMB0LI18g7RDJlDKkwo1MOzrALCBwBEc4orHg6322QYqxW3cwECZVcjHbxZQPlxS5JQEvPNS0t8Zc18M0X4P-vrIVl6ciH-G9w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.design {
  position: absolute;
  width: 11.3vw;
  height: 1.65vh;
  left: 80vw;
  top: 59.2vh;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7vw;
  line-height: 1.6vh;
  color: #201b13;
}
.design-span {
  opacity: 0.3;
}
.design-weflex {
  margin-left: 0.2vw;
  opacity: 1;
}
